@import './transition.scss';
@import '@/theme/index.scss';
@import './normalize.css';
@import './common.scss';
body {
  height: 100%;
  // font-size: 19px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  overflow: hidden;
  text-align: center;
  // &::-webkit-scrollbar {
  //     width: 1.6vh !important;
  //     height: 1.6vh !important;
  //     cursor: pointer !important;
  // }
  // //滚动条的滑块背景色
  // &::-webkit-scrollbar-thumb {
  //     background: #ccc !important;
  //     border-radius: 1vh !important;
  //     cursor: pointer !important;
  //     z-index: 99;
  // }
  // //滚动条的背景色
  // &::-webkit-scrollbar-track {
  //     background: rgba(#ccc, 0.3) !important;
  // }
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

// select标签不要轮廓
// select {
//     outline: none;
//     border-color: #C0C4CC;
//     border-radius: 4px;
// }

// .app-container {
//     // min-height: calc(100vh - 56px);
//     background-color: #fafafa;
//     width: 100%;
// }

// :deep(.headerCell) {
//     text-align: center !important;
//     color: black !important;
//     background-color: #f2f2f2 !important;
// }

// :deep(.cellClassName) {
//     text-align: center !important;
// }

// // 去掉表格的padding
// .el-table {
//     .cell {
//         padding: 0 !important;
//     }
// }

// // 全局按钮
// .el-button {
//     width: 80px;
//     height: 30px;
// }

// // 带搜索图标的按钮
// .searchBtn {
//     width: 70px;
//     height: 40px
// }

// // 距离右边要有距离的form-item
// .rightFormItem {
//     margin-right: 40px
// }

// .layout-container {
//     // @include clearfix;
//     position: relative;
//     height: 100%;
//     width: 100%;
// }

// // 设置dialog下的form-item表单
// .dialog-form-item {
//     margin-bottom: 20px;
// }

// // 基础信息修改和删除操作下的按钮
// .czBtn {
//     width: 40px;
//     margin-left: 0 !important;
// }

// // 表格滚动条样式
// .tableScroll {
//     // width: 19vw;
//     // margin-left: 0.8vh;
//     //滚动条的宽高
//      ::-webkit-scrollbar {
//         width: 1.6vh;
//         height: 1.6vh;
//     }
//     //滚动条的滑块背景色
//      ::-webkit-scrollbar-thumb {
//         background: #ccc;
//         border-radius: 1vh;
//     }
//     //滚动条的背景色
//      ::-webkit-scrollbar-track {
//         background: rgba(#ccc, 0.3);
//     }
// }

// // 分页上下留空隙
// .el-pagination {
//     margin: 20px auto !important;
// }
