@import './transition.scss';
@import '@/theme/index.scss';
@import './normalize.css';
@import './common.scss';
body {
  height: 100%;
  // font-size: 19px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  overflow: hidden;
  text-align: center;
  // &::-webkit-scrollbar {
  //     width: 1.6vh !important;
  //     height: 1.6vh !important;
  //     cursor: pointer !important;
  // }
  // //滚动条的滑块背景色
  // &::-webkit-scrollbar-thumb {
  //     background: #ccc !important;
  //     border-radius: 1vh !important;
  //     cursor: pointer !important;
  //     z-index: 99;
  // }
  // //滚动条的背景色
  // &::-webkit-scrollbar-track {
  //     background: rgba(#ccc, 0.3) !important;
  // }
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
